@model Register

<form method="post">
    <h4>Регистрация</h4>
    <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>
    <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
    <br />
    <div class="row mb-3">
        <label for="login" class="col-sm-1 col-form-label">Логин</label>
        <div class="col-sm-3">
            <label asp-for="Email">Электронная почта</label>
            <input name="Email" type="email" class="form-control" id="Email" placeholder="Email">
            <span asp-validation-for="Email">Login</span>
        </div>
    </div>
    <div class="row mb-3">
        <label for="password" class="col-sm-1 col-form-label">Пароль</label>
        <div class="col-sm-3">
            <label asp-for="Password">Пароль</label>
            <input name="Password" type="password" class="form-control" id="password" placeholder="*********">
            <span asp-validation-for="Password"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label for="password" class="col-sm-1 col-form-label">Повторите пароль</label>
        <div class="col-sm-3">
            <label asp-for="ConfirmPassword">Подтвердить пароль</label>
            <input name="ConfirmPassword" type="password" class="form-control" id="ConfirmPassword" placeholder="*********">
            <span asp-validation-for="ConfirmPassword">RepeatPassword</span>
        </div>
    </div>
    <div class="row mb-3">
        <label for="password" class="col-sm-1 col-form-label">Имя</label>
        <div class="col-sm-3">
            <label asp-for="UserName">Ваше имя</label>
            <input name="UserName" type="text" class="form-control" id="UserName" placeholder="*********">
            <span asp-validation-for="UserName">UserName</span>
        </div>
    </div>
    <div class="row mb-3">
        <label for="password" class="col-sm-1 col-form-label">Телефон</label>
        <div class="col-sm-3">
            <label asp-for="Phone">Телефон</label>
            <input name="Phone" type="number" class="form-control" id="Phone" placeholder="*********">
            <span asp-validation-for="Phone">Phone</span>
        </div>
    </div>
    <button type="submit" class="btn btn-outline-primary" asp-controller="authorization" asp-action="Register" asp-route-ReturnUrl="@Model.ReturnUrl">Зарегистрироваться</button>
</form>