@model List<Service>

@{
    ViewData["Title"] = "Diamond клининг г. Владимир";
}

@foreach(var service in @Model)
{
    @service;
}

<h2> @ViewData["CurrentDate"]</h2>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
