<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Diamond_Cleaning</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Политика конфиденциальности</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Index">Корзина @await Component.InvokeAsync("Cart")</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Authorization" asp-action="Login"> <i class="bi bi-person"></i> Войти </a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="administrator" asp-controller="administrator" asp-action="index"> <i class="bi bi-database"></i> Администратор </a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Favourite" asp-action="index"> Избранное @await Component.InvokeAsync("CalculateFavouriteServiceCount")</a>
                    </li>
                </ul>
            </div>
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                    <form class="d-flex" role="search" method="post">
                        <input name="name" class="form-control" type="search" placeholder="Поиск" aria-label="Поиск">
                        <button class="btn btn-dark" type="submit" asp-controller="home" asp-action="search"> <i class="bi bi-search"></i> </button>
                    </form>
                </div>
            </nav>
        </div>
    </nav>
</header>
