@using Diamond_Cleaning.Areas.Administrator.Models
@model ChangePasswordViewModel

<form method="post">
    <h4>Смена пароля доступа для пользователя @Model.UserName</h4>
    <br />
    <div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>
    <div class="row mb-3">
        <label for="Password" class="col-sm-1 col-form-label">Пароль</label>
        <div class="col-sm-3">
            <label asp-for="Password">Пароль</label>
            <input asp-for="Password" type="password" class="form-control" id="Password" placeholder="*********">
            <span asp-validation-for="Password"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label for="ConfirmPassword" class="col-sm-1 col-form-label">Повторите пароль</label>
        <div class="col-sm-3">
            <label asp-for="ConfirmPassword">Подтвердить пароль</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" id="ConfirmPassword" placeholder="*********">
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
    </div>
    <br />
    <br />
    <br />
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a class="btn btn-outline-primary" asp-area="Administrator" asp-controller="User" asp-action="GetUsers">Отмена</a>
</form>
