@using Diamond_Cleaning.Areas.Administrator.Models
@model EditRoleViewModel

<form method="post">
    <h4>Смена роли доступа для пользователя @Model.Name</h4>
    <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>
    <input type="hidden" name="Name" value="@Model.Name" />
    @foreach (var role in Model.AllRoles)
        {
            <div>
                @if (Model.UserRoles.Contains(role))
                {
                <input class="form-check-input" name="userRolesViewsModel[@role.Name]" type="checkbox" value="true" checked />
                    <label class="form-check-label" for="flexCheckDefault"> @role.Name </label>
                }
                else
                {
                <input class="form-check-input" name="userRolesViewsModel[@role.Name]" type="checkbox" value="true" />
                    <label class="form-check-label" for="flexCheckChecked"> @role.Name </label>
                }
            </div>
        }
    <br />
    <br />
    <br />
    <button type="submit" class="btn btn-primary" asp-area="Administrator" asp-controller="User" asp-action="ChangeAccess">Сохранить</button>
    <a class="btn btn-outline-primary" asp-area="Administrator" asp-controller="User" asp-action="GetUsers">Отмена</a>
</form>