@model UserViewModel

<form method="post">
	<h4>Смена пароля доступа для пользователя @Model.Name</h4>
	<br />
	<div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>
    <div class="row mb-3">
        <label for="Password" class="col-sm-1 col-form-label">Пароль</label>
        <div class="col-sm-3">
            <label asp-for="Password">Пароль</label>
            <input name="Password" type="password" class="form-control" id="Password" placeholder="*********">
            <span asp-validation-for="Password"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label for="password" class="col-sm-1 col-form-label">Повторите пароль</label>
        <div class="col-sm-3">
            <label asp-for="RepeatPassword">Подтвердить пароль</label>
            <input name="RepeatPassword" type="password" class="form-control" id="RepeatPassword" placeholder="*********">
            <span asp-validation-for="RepeatPassword">RepeatPassword</span>
        </div>
    </div>
	<br />
	<br />
	<br />
    <button type="submit" class="btn btn-primary" asp-area="Administrator" asp-controller="User" asp-action="ChangePassword" asp-route-userId="@Model.Guid">Сохранить</button>
    <a class="btn btn-outline-primary" asp-area="Administrator" asp-controller="User" asp-action="GetUsers">Отмена</a>
</form>